body {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
    font-size: 1rem;
}

.header {
    padding: 120px 0 30px;
    height: 50vh;
    background-image: url(../img/banner.jpg);
    transform: skew(0deg, 4deg) translateY(-120px);
    -webkit-transform: skew(0deg, 4deg) translateY(-120px);
    -moz-transform: skew(0deg, 4deg) translateY(-120px);
    -ms-transform: skew(0deg, 4deg) translateY(-120px);
    -o-transform: skew(0deg, 4deg) translateY(-120px);
}

.introduction p {
    font-weight: 600;
}

main {
    margin: 5vmax 0;
}

.box-container {
    box-shadow: 0 10px 30px -10px rgba(52, 58, 64, 0.6);
}

.border-danger {
    border: 0.125rem solid #d315ea !important;
}

.c-purple {
    color: #d315ea;
}

.bc-purple {
    background-color: #d315ea;
}

.bc-purple:hover {
    background-color: #e923ff;
}
